<footer class="page-footer black">
	<div class="row-footer black">
		<div class="container col-footer l4 s4">
			<div class="container col-footer l4 s4">
					<a href="https://www.google.com/search?client=firefox-b-ab&q=Rio+de+janeiro"><img alt="localização do estabelecimento" src="/../../assets/icone/pointer.svg" class="image-footer local"></a>Rio de Janeiro-RJ
					<a href="https://pt-br.facebook.com/"><img alt="ícone do facebook" src="/../../assets/icone/facebook.svg" class="image-footer social right"></a>
					<a href="https://www.instagram.com/?hl=pt-br"><img alt="ícone do instagram" src="/../../assets/icone/instagram.svg" class="image-footer social right"></a>
					<a href="https://twitter.com/"><img alt="ícone do twitter" src="/../../assets/icone/twitter.svg" class="image-footer social right"></a>
					<a href="https://br.pinterest.com/"><img alt="ícone do pinterest" src="/../../assets/icone/pinterest.svg" class="image-footer social right"></a>
				</div>
		</div>
	</div>
		<div class="container center footer-copyright l4 s4 black">
			<div class="copyright">
				@ 2019 Copyright Igor
			</div>
		</div>
</footer>