<body>
	<section>
		<div class="row">
			<div class="col l8 s8 fas apresentacao">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="col l4 s4">
				<img alt="arcade antigo piscando as luzes e a tela principal" class="gif1" src="/../../assets/gif/arcade.gif">
			</div>	
		</div>
		<div class="row">
			<div class="apresentacao2 fas col l4 s4">
				<p>
					"I used to be an adventurer like you, then I took an arrow in the knee." - every guard in The Elder Scrolls V: Skirym
				</p>
			</div>
			<div class="col l4 s4">
				<img alt="personages de jogos bebendo em um bar" class="gif2" src="/../../assets/gif/bar.gif">
			</div>	
			<div class="apresentacao2 col l4 s4">
				<p>
					It's dangerous to go alone! Take this... lonely old man with you - Zelda
				</p>
			</div>			
		</div>
	</section>
</body>