<body>
	<section>
		<div class="row">
			<div class="col l12 s12 apresentacao">
				<p>
					O intuito do Loadrink é a união dxs entusiastas da técnologia, saudosistas dos games com aquelxs xs quais não gostariam de deixar de lado o relacionamento social distantes do josticks e do teclado. Trabalhamos isso em um ambiente o qual é a fusão do conforto do seu game com o bar, apresentando bebidas temáticas e comidas as quais relembram ao máximo o seu ambiente de jogos. Nós da Loadrink queremos a união !
				</p>
			</div>
		</div>
		<div class="overwatch row"><!--aqui pode ocorrer um bug o qual consiste em sumir a rua no gif o qual os personagens andam, porém se reiniciar a página a rua volta ao gif-->
			<div class="apresentacao2 col l3 s3">
				<p>
					Não importa se o amigx é aquelx suporte que não cura. Não importa se x namoradx é aquelx atiradxr que não dá dano ou o tanker que não tanka. O que importa é a diversão e o convívio social.
				</p>
			</div>
			<div class="col l6 s6">
				<img alt="personagens do overwatch empurrando o payload juntos" class="gif1" src="/../../assets/gif/overwatch.gif">
			</div>
			<div class="apresentacao2 col l3 s3">
				<p>
					Traga xs amigxs e se divirtam juntxs no Loadrink...
				</p>
				<img alt="pokemons iniciais (squirtle, pikachu e charmander)" class="amigos right" src="/../../assets/gif/amigos2.gif">
			</div>	
		</div>
	</section>
</body>