<body>
	<nav class="transparent z-depth-0">	
		<div class="nav-wrapper">		
			<div class="left">
				<button routerLink="/home" type="button" class="giro"><a>Home</a></button>
				<button routerLink="/campeonato" type="button" class="giro"><a>Campeonatos</a></button>
			</div>	
			<div class="right">
				<button routerLink="/aboutus" type="button" class="giro"><a href="">Nós</a></button>
				<button routerLink="/contato" type="button" class="giro"><a>Contato</a></button>
			</div>
			<div class="center logo">
				<h1 class="center">
					Loadrink
				</h1>
				 <img src="../../assets/img/pacman2.png"><img class="beer" src="../../assets/img/beer.png"><img class="beer" src="../../assets/img/beer.png"><img class="beer" src="../../assets/img/beer.png"><img class="beer" src="../../assets/img/beer.png">
			</div>
		</div>
	</nav>
</body>